.logo {
  height: 6rem;
  margin-left: 6rem;
  padding: 0.3rem 0;
}

.portfolio-text {
  height: 5rem;
}

.user-nav {
  display: flex;
  font-size: 4rem;
  &__link {
    padding: 0 1.4rem;
    &:hover,
    &:focus {
      background-color: var(--color-grey-light-2);
      animation: pulsate 1s infinite;
    }
  }
  &__icon {
    cursor: pointer;
    &--linkdin {
      color: rgb(20, 88, 197);
    }
    &--facebook {
      color: rgb(16, 28, 133);
    }
    &--github {
      color: rgb(2, 2, 2);
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
